pymongo
nextcord-ext-menus
dnspython
joke-generator
humanfriendly
Flask
psutil
pytz
aiohttp
aniwrapper
chat-exporter
nextcord
onami
pillow
meval
image_to_Ascii
motor
function-cooldowns
asyncpraw
fastapi
uvicorn
mangum
python-dotenv